body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        margin-right: 20px;
        text-decoration: none;
        color: #555;
        font-weight: bold;

        &:hover {
            transform: scale(1.1);
            transition: 0.2s ease;
        }

        &:active {
            transform: scale(0.9);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.521);
            transition: 0.2s ease;
        }

        &:last-child {
            margin-right: 0;
            padding: 5px;
            background-color: #ff8800;
            border-radius: 7px;
            color: white;
        }
    }
}

#container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
        padding: 15px;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
    }
}

#profile,
#logout {
    padding: 15px 30px;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #555;
    }
}

#profile {
    background-color: #3498db;
}

#logout {
    background-color: #e74c3c;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space between;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 50%;
        margin-left: 100px;
        position: relative;
        top: 100px;
        left: 0;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        margin-right: 100px;

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 120px;
        }

        .validate {
            position: absolute;
            right: 50px;
            margin-top: 50px;
        }
    }
}