*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

label {
    letter-spacing: 2px;
    margin-top: 5px;
}

input {
    text-decoration: none;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.btn-perso {
    padding: 5px;
    background-color: #ff8800;
    border-radius: 7px;
    color: white;
}

table {
    // outline: 1px solid black;

    thead,
    tr,
    td {
        outline: 1px solid black;
    }
}

tr {
    width: 0 auto;
}

td {
    width: 0 auto;
    min-width: 100px;
    padding: 5px;
}