#container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 33vh;
    margin: 0 auto;
    margin-top: calc((50vh - 70px) / 2);

    #title-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33vw;
        margin: 0 auto;

        #row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            // word-spacing: 3px;
            width: inherit;
            margin: 10px auto;

            #order {
                padding: 5px;
                border-radius: 7px;
                background-color: rgba(128, 128, 128, 0.281);
            }

            #book-title {
                text-decoration: underline;

            }
        }
    }
}