/* Styles pour le conteneur du profil utilisateur */
.user-profile {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  max-width: 400px;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Styles pour chaque section d'informations du profil */
.user-profile div {
  padding: 15px;
<<<<<<< HEAD
  // border-radius: 10px;
  // background-color: #f9f9f9;
=======
>>>>>>> 0f0ca90585a04f2c85fdf5947710e3cb37186a28
}

.user-profile div:last-child {
  margin-bottom: 0;
}

/* Styles pour les Ã©tiquettes d'informations */
.user-profile .title {
  color: #2980b9;
  font-weight: bold;
}

/* Styles pour les valeurs d'informations */
.user-profile .userinfo {
  color: #555;
}

/* Styles pour le lien "Changer mon mot de passe" */
.button-row {
  display: flex;
  justify-content: flex-end;

  .button {
    display: inline-block;
    padding: 10px 15px;
    margin: -10px -5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    border-radius: 25px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
}