/* Styles pour le conteneur du profil utilisateur */
.user-profile {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  max-width: 400px;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Styles pour chaque section d'informations du profil */
.user-profile div {
  padding: 15px;
  // border-radius: 10px;
  // background-color: #f9f9f9;
}

.user-profile div:last-child {
  margin-bottom: 0;
}

/* Styles pour les étiquettes d'informations */
.user-profile .title {
  color: #2980b9;
  font-weight: bold;
}

/* Styles pour les valeurs d'informations */
.user-profile .userinfo {
  color: #555;
}

/* Styles pour le lien "Changer mon mot de passe" */
.user-profile a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  float: right;


  &:hover {
    color: #1abc9c;
  }
}