body {
    //background-image: url('/assets/pictures/Library.jpg');
    //background-size: cover;
    font-family: Arial, sans-serif;
    //margin: 0;
    //padding: 0;
    //height: 100vh;
    //color: #ffffff;

    .container {
        background-image: url('/assets/pictures/Library.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100vw;
        margin: auto;
        //padding: 20px;
        height: 100vh;

        h1 {
            font-size: 32px;
            font-weight: bold;
        }

        p {
            font-size: 18px;
            line-height: 1.1;
        }

        .buttons {
            text-align: center;

            .register-button,
            .login-button {
                display: inline-block;
                padding: 10px 20px;
                font-size: 18px;
                border: none;
                cursor: pointer;
                margin: 10px;

                &.register-button {
                    background-color: #3498db;
                    color: #fff;
                }

                &.login-button {
                    background-color: #2ecc71;
                    color: #fff;
                }
            }
        }
    }
}