#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 33vw;
    height: 300px;
    margin-top: 25vh;
    background-color: rgba(128, 128, 128, 0.13);
    border-radius: 7px;
    outline: 1px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);

    #login,
    #register {
        padding: 5px;
    }
}