body {
  font-family: Arial, sans-serif;
}

.user-profile {
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #e0e0e0;
  max-width: 500px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }

  div {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Cibler spécifiquement les libellés et changer leur couleur
  .user-profile>div>div {
    color: #3498db; // Couleur pour les libellés spécifiques
  }

  .change-password-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #3498db;
    opacity: 0.9;
    float: right;
    margin-top: -9px;
    margin-right: 0px;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      background-color: #2980b9;
    }
  }
}