header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
}
header nav {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo-container {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
}
header nav #logo-container #logo {
  width: 50px;
  height: 70px;
}
header nav .navigation-menu {
  width: 250px;
  height: 70px;
  display: none;
}
header nav .navigation-menu-active {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .hamburger {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 50px;
}
header nav .hamburger .upper,
header nav .hamburger .middle,
header nav .hamburger .lower {
  position: absolute;
  top: 25%;
  transition: 0.3s ease;
  background-color: #ff8800;
  width: 25px;
  height: 2px;
}
header nav .hamburger .middle {
  top: 50%;
}
header nav .hamburger .lower {
  top: 75%;
}
header nav .hamburger .upper-active,
header nav .hamburger .middle-active,
header nav .hamburger .lower-active {
  transition: 0.3s ease;
}
header nav .hamburger .upper-active {
  top: 50%;
  transform: rotate(-135deg);
}
header nav .hamburger .middle-active {
  opacity: 0;
  width: 0;
  transform: rotate(360deg);
}
header nav .hamburger .lower-active {
  top: 50%;
  transform: rotate(135deg);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

label {
  letter-spacing: 2px;
  margin-top: 5px;
}

input {
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.btn-perso {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}

table thead,
table tr,
table td {
  outline: 1px solid black;
}

tr {
  width: 0 auto;
}

td {
  width: 0 auto;
  min-width: 100px;
  padding: 5px;
}

#form-container {
  margin: 0 auto;
  border-radius: 7px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: 10px;
  outline: 1px white;
  margin-top: calc((50vh - 70px) / 2);
}

#navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 33vw;
  height: 300px;
  margin-top: 25vh;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 7px;
  outline: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
}
#navigation #login,
#navigation #register {
  padding: 5px;
}

.user-profile {
  margin: 110px auto;
  padding: 30px;
  border: 1px solid #ccc;
  max-width: 400px;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.user-profile div {
  padding: 15px;
}

label {
  margin-right: 10px;
}

.btn-perso3 {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
  margin-left: 20px;
}
.btn-perso3:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.btn-perso3:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.521);
  transition: 0.2s ease;
}

.user-profile div:last-child {
  margin-bottom: 0;
}

.user-profile .title {
  color: #2980b9;
  font-weight: bold;
}

.user-profile .userinfo {
  color: #555;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}
.button-row .btn-perso {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
  transition: 0.2s ease;
}
.button-row .btn-perso:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.button-row .btn-perso:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.521);
  transition: 0.2s ease;
}
.button-row .btn-perso2 {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
  margin-left: 20px;
}
.button-row .btn-perso2:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.button-row .btn-perso2:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.521);
  transition: 0.2s ease;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 300px;
  height: auto;
  padding: 20px;
  margin: 50px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#container #title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  width: 100%;
  padding-bottom: 10px;
}
#container #list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#container #list-container #row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
#container #list-container #row #order {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #7FB800;
  color: white;
  font-size: 14px;
}
#container #list-container #row #book-title {
  text-decoration: underline;
  margin-left: 10px;
  color: #007BFF;
}
#container #list-container #row #commande-details {
  display: flex;
  align-items: center;
}
#container #row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
}
a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
a:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.521);
  transition: 0.2s ease;
}
a:last-child {
  margin-right: 0;
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}

#container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile,
#logout {
  padding: 15px 30px;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#profile:hover,
#logout:hover {
  background-color: #555;
}

#profile {
  background-color: #3498db;
}

#logout {
  background-color: #e74c3c;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.container .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 50%;
  margin-left: 100px;
  position: relative;
  top: 100px;
  left: 0;
}
.container .leftSide .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.container .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
  margin: 100px auto 0 auto;
}
.container .rightSide .imageContainer {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  width: 150px;
  height: 250px;
  top: -300px;
}
.container .rightSide .imageContainer .faceContainer, .container .rightSide .imageContainer .backContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
}
.container .rightSide .imageContainer .backContainer {
  transform: rotateY(180deg);
}
.container .rightSide .imageContainer.flipped .faceContainer {
  transform: rotateY(180deg);
}
.container .rightSide .imageContainer.flipped .backContainer {
  transform: rotateY(0);
}
.container .rightSide .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
.container .rightSide .validate {
  position: absolute;
  right: 50px;
  margin-top: 50px;
}

#container {
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
#container ul #row-edit {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
#container ul #row-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
#container ul #row-button .btn-perso {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}
#container ul #row-button button {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}

body {
  background-image: url("/assets/pictures/Library.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
body .container h1 {
  font-size: 32px;
  font-weight: bold;
}
body .container p {
  font-size: 18px;
  line-height: 1.6;
}
body .container .buttons {
  text-align: center;
}
body .container .buttons .register-button,
body .container .buttons .login-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
body .container .buttons .register-button.register-button,
body .container .buttons .login-button.register-button {
  background-color: #3498db;
  color: #fff;
}
body .container .buttons .register-button.login-button,
body .container .buttons .login-button.login-button {
  background-color: #2ecc71;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
