header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
}
header nav {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo-container {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
}
header nav #logo-container #logo {
  width: 50px;
  height: 70px;
}
header nav .navigation-menu {
  width: 250px;
  height: 70px;
  display: none;
}
header nav .navigation-menu-active {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav #hamburger {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 50px;
}
header nav #hamburger .upper,
header nav #hamburger .middle,
header nav #hamburger .lower {
  position: absolute;
  top: 25%;
  transition: 0.3s ease;
  background-color: red;
  width: 25px;
  height: 2px;
}
header nav #hamburger .middle {
  top: 50%;
}
header nav #hamburger .lower {
  top: 75%;
}
header nav #hamburger .upper-active,
header nav #hamburger .middle-active,
header nav #hamburger .lower-active {
  transition: 0.3s ease;
}
header nav #hamburger .upper-active {
  top: 50%;
  transform: rotate(-135deg);
}
header nav #hamburger .middle-active {
  opacity: 0;
  width: 0;
  transform: rotate(360deg);
}
header nav #hamburger .lower-active {
  top: 50%;
  transform: rotate(135deg);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

label {
  letter-spacing: 2px;
  margin-top: 5px;
}

input {
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: black;
}

#form-container {
  margin: 0 auto;
  border-radius: 7px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.26);
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.212);
  backdrop-filter: 10px;
  outline: 1px white;
  margin-top: calc((50vh - 70px) / 2);
}

#navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 33vw;
  height: 300px;
  margin-top: 25vh;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 7px;
  outline: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
}
#navigation #login,
#navigation #register {
  padding: 5px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: 33vh;
  margin: 0 auto;
  margin-top: calc((50vh - 70px) / 2);
}
#container #title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
