@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
}
header nav {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo-container {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
}
header nav #logo-container #logo {
  width: 50px;
  height: 70px;
}
header nav .navigation-menu {
  width: 250px;
  height: 70px;
  display: none;
}
header nav .navigation-menu-active {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav #hamburger {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 50px;
}
header nav #hamburger .upper,
header nav #hamburger .middle,
header nav #hamburger .lower {
  position: absolute;
  top: 25%;
  transition: 0.3s ease;
  background-color: #ff8800;
  width: 25px;
  height: 2px;
}
header nav #hamburger .middle {
  top: 50%;
}
header nav #hamburger .lower {
  top: 75%;
}
header nav #hamburger .upper-active,
header nav #hamburger .middle-active,
header nav #hamburger .lower-active {
  transition: 0.3s ease;
}
header nav #hamburger .upper-active {
  top: 50%;
  transform: rotate(-135deg);
}
header nav #hamburger .middle-active {
  opacity: 0;
  width: 0;
  transform: rotate(360deg);
}
header nav #hamburger .lower-active {
  top: 50%;
  transform: rotate(135deg);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

label {
  letter-spacing: 2px;
  margin-top: 5px;
}

input {
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.btn-perso {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}

#form-container {
  margin: 0 auto;
  border-radius: 7px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: 10px;
  outline: 1px white;
  margin-top: calc((50vh - 70px) / 2);
}

#navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 33vw;
  height: 300px;
  margin-top: 25vh;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 7px;
  outline: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
}
#navigation #login,
#navigation #register {
  padding: 5px;
}

/* Styles pour le conteneur du profil utilisateur */
.user-profile {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  max-width: 400px;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Styles pour chaque section d'informations du profil */
.user-profile div {
  padding: 15px;
}

.user-profile div:last-child {
  margin-bottom: 0;
}

/* Styles pour les Ã©tiquettes d'informations */
.user-profile .title {
  color: #2980b9;
  font-weight: bold;
}

/* Styles pour les valeurs d'informations */
.user-profile .userinfo {
  color: #555;
}

/* Styles pour le lien "Changer mon mot de passe" */
.button-row {
  display: flex;
  justify-content: flex-end;
}
.button-row .button {
  display: inline-block;
  padding: 10px 15px;
  margin: -10px -5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}
.button-row .button:hover {
  background-color: #45a049;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: 33vh;
  margin: 0 auto;
  margin-top: calc((50vh - 70px) / 2);
}
#container #title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  margin: 0 auto;
}
#container #list-container #row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  margin: 10px auto;
}
#container #list-container #row #order {
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.281);
}
#container #list-container #row #book-title {
  text-decoration: underline;
}

#container #row {
  display: flex;
  justify-content: center;
}

#container {
  background: linear-gradient(to right, #f7f7f7, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
#container ul #row-edit {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
#container ul #row-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
#container ul #row-button .btn-perso {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}
#container ul #row-button button {
  padding: 5px;
  background-color: #ff8800;
  border-radius: 7px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
