{% extends 'base.html.twig' %}

{% block title %}
    Commande
{% endblock %}

{% block body %}
    <div class="container">
        <div class="leftSide">
            <div class="row">
                <label for="">Titre du livre</label>
            </div>
            <div class="row">
                <label for="">Auteur</label>
            </div>
            <div class="row">
                <label for="">Description</label>
            </div>
        </div>
        <div class="rightSide">
            <div class="imageContainer">
                <img src="{{ asset('assets/pictures/Systemium_face-removebg.png') }}" alt="Image d'un livre">
            </div>
            <div class="row">
                <label for="">Date d'emprunt</label>
            </div>
            <div class="row">
                {{ form_row(commandeForm.dateRetour, {
                    label: 'Date de retour : '
                }) }}
            </div>
            <div class="row">
                <a href="{{ path('app_location') }}" class="validate">Valider</a>
            </div>
        </div>
    </div>
{% endblock %}
