{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
{% block header %}
{{ parent() }}
{% endblock %}
<div id="container">
    <div id="title-container">
        <h2>Locations disponibles :</h2>
    </div>
    <div id="list-container">
    <ul>
    {% for livre in livres %}
    {% if livre.quantite > 0 %}
    <li id="row">
        {{ livre.titre }} par : {{ livre.auteur }} <button id="order">Commander</button>
    </li>
    {% endif %}
{% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
