{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/profil.css') }}">
{% endblock %}
{% block body %}
{% block header %}
{{parent()}}
{% endblock %}
    <div class="container">


    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>
{% endblock %}
